/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; 
  width:100%;
    
}

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(11, 12, 12);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h4{
    text-align: center ;
    
}
.navbar-brand {
    padding: 0;
    margin: 0;
 }

.jumbotron {
    margin:0;
    padding: 450px;
    background-position:relative;
    background-image: url("../images/slide1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

.jumbotron .container{
    position: relative;
}

.carousel-caption {
    background-color: black;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}


.navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    
}


/* footer and etc */

.footer {
    background-color: darkblue;
    padding: 20px 0px;
    color: black;
    width: 100%;
    bottom: 0;
    left: 0;

}


.modal-backdrop {
    z-index: auto;
}

.close {
    color:white;
}

.card {
    float: none; 
    margin-bottom: 10px;
}
    
.nav-link {
    margin: 12px ;
}

.container {

}
