

h3 {
  font-family:"roboto" , Verdana, Geneva, Tahoma, sans-serif
}

.card {
  box-shadow: 10px 10px 5px grey, !important;
  z-index: 2;
}

  .card :hover {
    background-color: orangered !important;
  }

.navbar {
  opacity: .5 !important;
  background-color: darkcyan, !important;
  z-index: 2;
}

.navbar-brand {
  position: absolute !important;
  left: 50% !important;
  margin-left: -50px !important;  
  display: block;
}